* {
    /*outline: 1px solid red;*/
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0 8vw;
}

.hidden {
    display: none;
}

select {
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
}

button {
    background-color: cadetblue;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    margin-left: 1vw;
    margin-top: 20px;
}

button:hover {
    background-color: orange;
    transform: scale(1.05);
    transform-origin: center;
    transition: fill 0.3s ease-out;  
}

.button--disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.btn-more {
    display: block;
    margin: 0 auto;
}

table {
    border:2px solid cadetblue;
}

thead>tr>th, tbody>tr>td {
    border:2px solid cadetblue;
    padding: 10px;
}

tbody input {
    width: 3vw;
}

.retour {
    cursor: pointer;
}

.retour:hover{
    transform: scale(1.05);
    transform-origin: center;
    transition: transform 0.3s ease-out;  
}